{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Admin Create Or Edit User</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			
			<div class="field">
				<div class="control">
					<input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
					<a>Email Required</a>
				</div>
			</div>

			<form method="POST" action="/add">
				<div class="field">
					<div class="control">
						<input class="input is-large" type="role" name="role" placeholder="Role" autofocus="">
						<a>Role Options are:</a>
						<a>  admin  |</a>
						<a>  rOwner |</a>
						<a>  public  </a>
					</div>
				</div>
	
				<div class="field">
					<div class="control">
						<input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
					</div>
				</div>
	
				<div class="field">
					<div class="control">
						<input class="input is-large" type="password" name="password" placeholder="Password">
					</div>
				</div>

				<div class="field">
					<div class="control">
						<input class="input is-large" type="restaurant" name="restaurant" placeholder="restaurant if owner">
						<a>Restaurant only used if an rOwner, Must match restaurant name.</a>
						<a>if user is an admin set to "admin"</a>
					</div>
				</div>
	
				<button class="button is-block is-info is-large is-fullwidth">Add / Edit</button>
			</form>
		</div>
	</div>
{% endblock %}
